@charset "utf-8";

html {
	height: 100%;
}

body {
	margin: 0; padding: 0;
	background-color: #ffffff;
	font-size: 13pt;
	line-height: 145%;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

img { border: none; }

a:link { color: #26ade4; text-decoration: none; }
a:visited { color: #26ade4; text-decoration: none; }
a:hover { color: #4dbce9; text-decoration: underline; }

#wrapper{
	width: 900px;
	margin: 0 auto;
}

#header {
	margin: 0 0 25px 0;
}

#contents {
	width: 695px;
	float: left;
}

.box {
	width: 693px;
	border: 1px solid #4dbce9;
	border-radius: 10px;
	margin: 0 0 20px 0;
	padding: 10px 0 10px 0;
	text-align: left:
}

.box > div {
	border-top: 1px solid rgba(57,188,233,0.6);
	border-radius: 8px;
	margin-top: -10px;
	padding: 0px 0 0 0;
}

.box h1 {
	font-weight: normal;
	margin: 0 0 4px 0;
	padding: 5px 10px 5px 10px;
	font-size: 14pt;
	border-radius: 8px 8px 0 0 / 8px 8px 0 0;
	background-color: #4dbce9;
}

.box > div > dl, .box > div > div {
	margin: 0;
	padding: 5px 15px 0px 15px;
}

.box dt {
	width: 110px;
	font-weight: normal;
	margin: 0; padding: 3px 0;
}

.box dd {
	margin-left: 30px; padding: 0;
}

.box hr {
	width: 98%; height: 1px;
	color: #d1e751;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
}

#side {
	width: 175px;
	float: left;
	padding-left: 20px;
}

.sbox {
	margin: 0 0 15px 0;
}

a.social {
	width: 20px; height: 20px;
	display: inline-block;
	margin: 0px 2px 0 3px; padding: 0px 0 0 0;
}

#footer_wrapper {
	width: 100%; 
	margin-top: 15px;
	padding: 10px 0 0 0;
	border-top: 1px solid #4dbce9;
	z-index: 1;
}

#footer_wrapper > div {
	width: 100%;
	border-top: 1px solid rgba(57,188,233,0.6);
	margin-top: -10px;
}

#footer {
	background-color: #4dbce9;
	text-align: center;
	font-size: 0.8em;
	margin: 0 auto;
	padding: 10px 0;
}

