@charset "utf-8";

@font-face {
	font-family: myfont;
	src: url("/font/Vegur-Regular.otf");
}

body {
	font-size: 13pt;
    margin: 0; padding: 0;
	color: #444;
	background-color: #fcfcfc;
    text-shadow: 1px 1px 1px #bbb;
    line-height: 1.3em;
    font-family: 'myfont', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.small {
    font-size: 0.8em;
}

.large {
    font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 10px 0;
    padding: 0 0 7px 5px;
    font-weight: normal;
}

h1 {
    font-size: 1.5em;
    border-bottom: 2px solid #44A5CB;
}

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    content: "■";
    display: inline-block;
    margin-right: 6px;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

p, code, form {
    margin: 0 0 8px 10px;
}

pre {
    margin: 0 10px 10px 10px;
    white-space: pre;
    background-color: #f8f8f8;
    border: 1px solid #99cfe5;
}

img {
    max-width: 100%;
    margin: 0; padding: 0;
    border: none;
}

address {
	font-style: normal;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a:link, a:visited {
	color: #007FB1;
}

a:hover {
	color: #44A5CB;
}

table {
	font-size: 0.9em;
    margin: 0 1em 1.5em 1.0em;
    border-spacing: 0;
    border-right: 1px solid #99CFE5;
	border-bottom: 1px solid #99CFE5;
    border-radius: 5px;
}

caption {
	text-align: cewnter;
	font-size: 0.9em;
    font-weight: bold;
}

th {
	font-weight: normal;
}

th, td {
	text-align: left;
}

th.col {
	background-color: #CAE7F2;
    background-image: -webkit-linear-gradient(#fff 0%, #fff 2%, #e5f3f9 3%, #CAE7F2 100%);
    background-image: -moz-linear-gradient(#fff 0%, #fff 2%, #e5f3f9 3%, #CAE7F2 100%);
    background-image: -ms-linear-gradient(#fff 0%, #fff 2%, #e5f3f9 3%, #CAE7F2 100%);
    background-image: -o-linear-gradient(#fff 0%, #fff 2%, #e5f3f9 3%, #CAE7F2 100%);
}

th, td {
	border-left: 1px solid #99CFE5;
	border-top: 1px solid #99CFE5;
}

th.col {
    padding: 3px 9px 2px 7px;
}

td {
	padding: 3px 9px 2px 9px;
}

td[colspan] {
    text-align: center;
}

th.pivot {
	background-color: #fcfcfc;
    padding: 3px 9px 2px 21px;
}

th.row > div {
	margin: 1px 0 0 1px;
	padding-right: 9px;
	overflow: hidden;
}

th.row > div:before {
	display: block; 
	content: "";
	width: 20px;
	height: 20px;
	float: left;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: translate(-10px, -15px) rotate(45deg);
	-moz-transform-origin: 50% 50%;
	-moz-transform: translate(-10px, -15px) rotate(45deg);
	-ms-transform-origin: 50% 50%;
	-ms-transform: translate(-10px, -15px) rotate(45deg);
	-o-transform-origin: 50% 50%;
	-o-transform: translate(-10px, -15px) rotate(45deg);
}

tr:nth-child(even) > th.row > div:before {
	background-color: #95DFD6;
}

tr:nth-child(odd) > th.row > div:before {
	background-color: #F3C0AB;
}

tr:nth-child(odd) {
	background-color: #CAE7F2;
}

tr:nth-child(even) {
	background-color: #f8f8f8;
}

th.row:after {    
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

tr:first-child th:first-child {
    border-radius: 5px 0 0 0 / 5px 0 0 0;
}

tr:first-child th:last-child {
    border-radius: 0 5px 0 0 / 0 5px 0 0;
}

tr:last-child th:first-child {
    border-radius: 0 0 0 5px / 0 0 0 5px;
}

tr:last-child td:last-child {
    border-radius: 0 0 5px 0 / 0 0 5px 0;
}

input {
    font-size: 0.9em;
    font-family: inherit;
    font-weight: normal;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="number"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="color"], textarea {
    color: #666;
    background-color: #fafafa;
    border: 1px solid #888888;
    border-radius: 0.5em;
    outline: none;
    margin: 5px 10px;
    padding: 4px 10px;
}

input[type="text"].error, input[type="password"].error, input[type="email"].error, input[type="url"].error, input[type="search"].error, input[type="tel"].error, input[type="number"].error, input[type="date"].error, input[type="datetime"].error, input[type="datetime-local"].error, input[type="month"].error, input[type="week"].error, input[type="time"].error, input[type="color"].error, textarea.error {
    border: 1px solid #E6855E;
    box-shadow: 0 0 8px #E6855E;
    color: #DA5019;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="color"]:focus, textarea:focus {
    border: 1px solid #99CFE5;
    -webkit-box-shadow: 0 0 8px #99CFE5;
    color: #666;
}

input[type="button"], input[type="submit"] {
    color: #444;
    margin: 5px 0 5px 10px;
    padding: 4px 15px;
    border-radius: 0.5em;
    background-color: #CAE7F2;
    background-image: -webkit-linear-gradient(#fff 0%, #fff 2%, #e5f3f9 3%, #CAE7F2 100%);
    background-image: -moz-linear-gradient(#fff 0%, #fff 2%, #e5f3f9 3%, #CAE7F2 100%);
    background-image: -ms-linear-gradient(#fff 0%, #fff 2%, #e5f3f9 3%, #CAE7F2 100%);
    background-image: -o-linear-gradient(#fff 0%, #fff 2%, #e5f3f9 3%, #CAE7F2 100%);
    border: 1px solid #99CFE5;
}

input[type="button"].gray, input[type="submit"].gray {
    background-color: #f0f0f0;
    background-image: -webkit-linear-gradient(#fff 0%, #fff 2%, #f0f0f0 3%, #e0e0e0 100%);
    border: 1px solid #d0d0d0;
}

input[type="button"].critical, input[type="submit"].critical {
    background-color: #F3C0AB;
    background-image: -webkit-linear-gradient(#fff 0%, #fff 2%, #F9DFD5 3%, #F3C0AB 100%);
    background-image: -moz-linear-gradient(#fff 0%, #fff 2%, #F9DFD5 3%, #F3C0AB 100%);
    background-image: -ms-linear-gradient(#fff 0%, #fff 2%, #F9DFD5 3%, #F3C0AB 100%);
    background-image: -o-linear-gradient(#fff 0%, #fff 2%, #F9DFD5 3%, #F3C0AB 100%);
    border: 1px solid #E6855E;
}

input[type="button"]:hover, input[type="submit"]:hover {
    box-shadow: 0 0 8px #99CFE5;
}

input[type="button"].gray:hover, input[type="submit"].gray:hover {
    box-shadow: 0 0 8px #d0d0d0;
}

input[type="button"].critical:hover, input[type="submit"].critical:hover {
    box-shadow: 0 0 8px #E6855E;
}

input[type="button"]:active, input[type="submit"]:active {
    position: relative;
    left: 1px;
    top: 1px;
}

input[type="checkbox"], input[type="radio"] {
    margin: 5px 7px 5px 10px;
    padding: 0;
}
